<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        {% comment %} print data which contains contact information {% endcomment %}
        <h1>Contact Information</h1>
        <ul>
            <li>Name: {{ contact.name }}</li>
            <li>Age: {{ contact.age }}</li>
            <li>Hobby: {{ contact.hobby }}</li>
            <li>University: {{ contact.university }}</li>
        </ul>

        <script src="" async defer></script>
    </body>
</html>